body {
  background-image: url('../assets/images/africanWallpaper.jpeg');
}

    #navbar {
      width: 100%;
      top: 0;
      padding: 1em;
      background-color: black;
      position: fixed;
    }
/*
    #hiddenNav {
      width: 100%;
      padding: 1em;
      visibility: hidden;
    }*/

    #mainContainer {
      width: 70%;
      background-color: rgb(152, 175, 199);
      padding-top: 1em;
      padding-bottom: 3em;
    }

        @media screen and (max-width: 768px) {

          #mainContainer {
            width: 100%;
          }

        }

        #headerContainer {
          width: 100%;
          display: block;
          background-color: white;
        }

            #headerLogo {
              display: block;
              width: 100%;
            }

        #mainContent {

        }

            #indexContainer {

            }

                #mBrownHouseContainer {
                  width: 30%;
                  display: block;
                  border: 1px solid black;
                }

                    #mBrownHouseContainer>img {
                      width: 100%;
                      display: block;
                    }

    footer {
      width: 100%;
      padding: 2em;
      background-color: black;
      position: fixed;
      bottom: 0;
    }

        #myCopyRight {
          font-size: 18px;
          display: inline-block;
          color: white;
        }

        #mBrownCopyRight {
          font-size: 18px;
          color: white;
          float: right;
        }
